<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://bootswatch.com/4/lumen/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div align="center" style="padding: 8px;" >
    <div style="max-width: 600px;">

    <h2>Welcome to Simple Pad</h2>
    <p>This is a demo notepad app, created to show an understanding of Spring Boot. As you will see,
     there is not much Javascript implemented, which means its less interactive and everything is
        being pulled from the servers.</p>


    <p>This app was themed using Bootstrap, using PostgreSQL for database storage, and is being hosted on a Heroku server. This is to demonstrate
    back end development, not to look fancy. Also for optimal experience using the app, try it on
    a mobile device, its designed for it. Click the button below to:</p>




    <form></form>
    <a href="/todolist" class="btn btn-success btn-lg" >Get Started</a>

    </div>
    </div>
</body>
</html>