<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<h2>Welcome to yout todo list, lets get started</h2>
<table class="table">
<tr>
    <th>Tasks</th>
    <a href="/add">Add task</a>
</tr>
<tr th:each="todo : ${todos}">
    <td th:text="${todo.task}"></td>
    <td>

    </td>
</tr>
</table>
<a href="/todolist">Lets get started.</a>
</body>
</html>