<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link href="https://bootswatch.com/4/lumen/bootstrap.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<div align="center">
<h1>You have successfully logged out.</h1>

Right now, you can either <a href="/login">log back in</a> or <a href="/register">register </a> another account,<br/>
or you can go back to my <a href="https://www.tktastic.com/"> TkTastic page. </a>

</div>
</body>
</html>