<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Here is your list</h2>

<table class="table">

<tr>
    <th>Tasks</th>
    <a href="/add">Add task</a>
</tr>
<tr th:each="todo : ${todos}">
    <td th:text="${todo.task}"></td>

    <td>
        <a th:href="@{/update/{id}(id=${todo.id})}">Update</a>
        <a th:href="@{/delete/{id}(id=${todo.id})}">Delete</a>
    </td>
</tr>
</table>

<a href="/login"> Logout</a>
</body>
</html>